@mixin btn {
    height: 100px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;  
    padding: 2%;  
    margin: 5%;
    font-size: 20px;
}

button{
    @include btn()
}

.btn1{
    background-color: red;
}
.btn2{
    background-color: pink;
}
.btn3{
    background-color: blue;
}
.btn4{
    background-color: yellow;
}
.btn5{
    background-color: brown;
}
button:hover{
  background-color: lightblue;
  transform: scale(1.2,1.2);
}